* {
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
    width: 100%;
}

.header__container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.user__status {
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.user__status #profile-picture {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgba(14, 134, 212, 0.4);
}

.user__status #log-out {
    width: 50px;
    height: 50px;
}

.general__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.blue__line {
    background-color: #0E86D4;
    width: 75%;
    height: 100px;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.blue__line::after {
    content: "";
    position: absolute;
    right: -42px;
    width: 120%;
    height: 100px;
    background: #0E86D4;
    transform: skew(40deg);
}

.general__container #add-course {
    display: flex;
    margin-left: 110rem;
}

.cards__container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 150px;
    z-index: 10;
}

.cards__firstrow,
.cards__secondrow {
    display: flex;
    gap: 200px;
    z-index: 10;
}



.card {
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    box-shadow: 7px 7px 7px 0px #d6d6d6;
    min-width: 500px;
    flex: 1;
    z-index: 10;
}

.management__icons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.management__icons img {
    width: 30px;
    height: 30px;
}

.course__picture {
    width: 200px;
    height: 200px;
}


.course__name {
    font-weight: bold;
}

.teacher__name {
    font-weight: 270;
}

.dates__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
}

.dates__container #date-icon {
    height: 25px;
    width: 25px;
}

.content__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 25px;
}

.content__container #content-icon {
    height: 25px;
    width: 25px;
}

.actions__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.delete__button {
    background: none;
    border-radius: 15px;
    width: 150px;
    height: 40px;
}

.post__button {
    background: #0E86D4;
    color: white;
    border-radius: 15px;
    width: 150px;
    height: 40px;
}

.put__button {
    background: none;
    border-radius: 15px;
    width: 100px;
}

.title {
    font-size: 1.4rem;
    text-align: center;
}

.subtitle {
    font-weight: bold;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.text__input {
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #d6d6d6;
    height: 30px;
}

.text__input__video {
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #d6d6d6;
    height: 30px;
    width: 350px;
}

.list__container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 40px;
}

.student {
    font-size: 1.3rem;
}

.quiz__edition {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quiz__edition button {
    background: none;
    border-radius: 15px;
    width: 450px;
    height: 40px;
}

.quiz__edit__return {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.quiz__edit__return button {
    background: none;
    border-radius: 15px;
    width: 200px;
    height: 40px;
}

.card__container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 5px 0px 5px 0px #d6d6d6;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    border-radius: 15px;
    padding: 20px;
    z-index: 10;
}

.options {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.list__container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.thumbnail {
    border-radius: 15px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.center__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 80%;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.row {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
}

.row__width {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

select {
    border-radius: 15px;
    box-shadow: 4px 4px 4px 0px #d6d6d6;
    width: 150px;
}

.profile__info__container {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80%;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon__tile {
    display: flex;
    gap: 10px;
    align-items: center;
}

.semibold {
    font-weight: 700;
}

.subject {
    font-weight: 300;
}

.list__format {
    display: flex;
    flex-direction: column;
}

.format__list__gap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile__pic {
    width: 160px;
    height: 150px;
    border-radius: 40%;
    object-fit: cover;
}

.courses__teaching {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.new__entries__container {
    display: flex;
    flex-direction: row;
}

.book__card {
    display: flex;
    gap: 25px;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
}

.book__card__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.book__cover {
    width: 50%;
    height: 100%;
    box-shadow: 2px 2px 2px 2px #d6d6d6;
    object-fit: cover;
}

.column__format {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.question__text {
    font-weight: 700;
    font-size: 1.2rem;
}

.answer {
    font-size: 1.1rem;
}

.video__form {
    padding-top: 50px;
    width: 30%;
}

.pdf__form {
    padding-top: 80px;
    width: 30%;
}
