<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir Archivo Docente</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <a href="/PrincipalDocente.html">
            <img class="logo" src="/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="Login.html">
                <img src="/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <div class="card__container center__content">
            <h2 class="title">Subir Archivo</h2>
            <div class="file__upload__form">
                <form class="format__list__gap">
                    Nombre del Archivo
                    <input class="text__input__video" type="text" name="file__name">
                    Archivo PDF
                    <input type="file" name="file__input">
                </form>
            </div>
            <div class="actions__container">
                <button class="delete__button"><a href="VistaCursoDocente.html">Descartar Cambios</a></button>
                <button class="post__button"><a href="VistaCursoDocente.html">Guardar Cambios</a></button>
            </div>

        </div>
        <div class="blue__line"></div>
    </div>
</body>

</html>
