<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación Curso Docente</title>
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <header>
        <a href="PrincipalDocente.html">
            <img class="logo" src="/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="Login.html">
                <img src="/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <div class="card__container">
            <h2 class="title">Creación Curso</h2>
            <div class="center__content">
            <div>
                <div class="row">
                    <form>
                        Nombre del Curso
                        <input class="text__input" type="text" name="course-name">
                    </form>
                    <div class="row">
                        <p>Seleccione Nivel Académico</p>
                        <select name="levels">
                            <optgroup label="Enseñanza Básica">
                                <option>1° Básico</option>
                                <option>2° Básico</option>
                                <option>3° Básico</option>
                                <option>4° Básico</option>
                                <option>5° Básico</option>
                                <option>6° Básico</option>
                                <option>7° Básico</option>
                                <option>8° Básico</option>
                            </optgroup>
                            <optgroup label="Enseñanza Media">
                                <option>1° Medio</option>
                                <option>2° Medio</option>
                                <option>3° Medio</option>
                                <option>4° Medio</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
            <div class="coursepicture__edit__container">
                <div class="column">
                    <img class="thumbnail" src="/assets/course-1.png">
                    <button class="put__button">Subir Foto</button>
                </div>
            </div>
            <div class="actions__container">

                <button class="delete__button"><a href="PrincipalDocente.html">Cancelar Creación</a></button>

                <button class="post__button"><a href="PrincipalDocente.html">Crear Curso</a></button>
            </div>
        </div>
</div>
        <div class="blue__line"></div>
    </div>

</body>

</html>
