<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición Perfil Docente</title>
</head>

<body>
    <header>
        <div class="header__container">
            <img src="assets/logo.png" alt="school-logo">
            <a href="views/GestionTextosDocente.html">Biblioteca</a>
            <a href="views/VistaCursoDocente.html">Revisiones</a>

            <div class="user__status">
                <img src="assets/1&1guy.png" alt="profile-picture">
                <img src="assets/logout.png" alt="log-out">
            </div>
        </div>
    </header>

    <div class="general__container">
        <div class="edition__container">
            <div class="profilepicture__edit__container">
                <img src="/assets/1&1guy.png" alt="profile-picture">
                <button>Subir Foto</button>
                <img src="/assets/edit-image.png" alt="edit-picture">
            </div>
            <div class="profile__edition__form__container">
                <form>
                    Nueva Contraseña
                    <input type="password" name="password">
                </form>
                <form>
                    Confirmar Nueva Contraseña
                    <input type="password" name="nuevaContraseña" </form>
            </div>
            <div class="actions__container">
                <button class="delete__button">Descartar Cambios</button>
                <button class="post__button">Guardar Cambios</button>
            </div>
        </div>

        <div class="blue__line"></div>
    </div>

</body>

</html>
