<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Docente</title>
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <header>
        <a href="PrincipalDocente.html">
            <img class="logo" src="/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="Login.html">
                <img src="/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <div class="card__container">
            <div class="options">
            <a href="VistaCursoDocente.html">
                <img src="/assets/return.png" alt="return">
            </a>
            <a href="GestionFormularioDocente.html">
                <img src="/assets/add-element.png" alt="add-element">
            </a>
        </div>
            <div class="first__question">
                <img class="icon" src="/assets/settings.png" alt="settings">
                <p class="question__text">1.- Si la nariz de Pinocho solo crece al mentir, y Pinocho dice “Mi nariz
                    crecerá” y su nariz crece ¿Ha dicho una mentira o una verdad?</p>
                <div class="answers__container">
                    <div class="answer"><input type="checkbox">Alternativa 1</div>
                    <div class="answer"><input type="checkbox">Alternativa 2</div>
                    <div class="answer"><input type="checkbox">Alternativa 3</div>
                    <div class="answer"><input type="checkbox">Alternativa 4</div>
                </div>
            </div>
            <div class="second__question">
                <img class="icon" src="/assets/settings.png" alt="settings">
                <p class="question__text">2.- Si el Universo es infinito ¿Por qué el cielo nocturno no está iluminado?
                </p>
                <div class="answers__container">
                    <div class="answer"><input type="checkbox">Alternativa 1</div>
                    <div class="answer"><input type="checkbox">Alternativa 2</div>
                    <div class="answer"><input type="checkbox">Alternativa 3</div>
                    <div class="answer"><input type="checkbox">Alternativa 4</div>
                </div>
            </div>
        </div>

        <div class="blue__line"></div>
    </div>

</body>

</html>
