<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Alumnos Docente</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <a href="/PrincipalDocente.html">
            <img class="logo" src="/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="Login.html">
                <img src="/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <div class="card__container">
            <div class="options">
                <a href="/PrincipalDocente.html">
                    <img src="/assets/return.png">
                </a>
                <h2>Inscripción de Estudiantes</h2>
                <div></div>
            </div>
            <div class="list__container">
                <div class="student"><input type="checkbox">Sofía Isabel Valverde González</div>
                <div class="student"><input type="checkbox">Mateo Alejandro Rivas Fernández</div>
                <div class="student"><input type="checkbox">Valeria Gabriela Cordero Martínez</div>
                <div class="student"><input type="checkbox">Leonardo Andrés Álvarez Ruiz</div>
                <div class="student"><input type="checkbox">Camila Fernanda Ortega Pérez</div>
                <div class="student"><input type="checkbox">Diego Armando Salazar Jiménez</div>
                <div class="student"><input type="checkbox">Mariana Paula Torres López</div>
                <div class="student"><input type="checkbox">Sebastián Felipe Castillo Vargas</div>
                <div class="student"><input type="checkbox">Gabriela Alejandra Mendoza Silva</div>
                <div class="student"><input type="checkbox">Alejandro David Bravo Moreno</div>
            </div>
        </div>

        <div class="blue__line"></div>
    </div>

</body>

</html>
