<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Material Docente</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <a href="/PrincipalDocente.html">
            <img class="logo" src="/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="Login.html">
                <img src="/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <div class="card__container">
            <div class="options">
                <a href="VistaCursoDocente.html">
                    <img src="/assets/return.png" alt="return">
                </a>
            </div>
            <div class="column">
                <div class="video__form">
                    <img class="icon" src="/assets/settings.png" alt="settings">
                    <form class="list__format">
                        Nombre de Video
                        <input class="text__input" type="text" name="video__name">
                        Link de Video
                        <input class="text__input" type="text" name="video__link">
                    </form>
                </div>
                <div class="pdf__form">
                    <img class="icon" src="/assets/settings.png" alt="settings">
                    <form class="list__format">
                        Nombre del Archivo
                        <input class="text__input" type="text" name="file__name">
                        Archivo PDF
                        <input class="file__input" type="file" name="file__upload">
                    </form>
                </div>
            </div>
        </div>
        <div class="blue__line"></div>


    </div>
</body>

</html>
