<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Docente</title>
    <link rel="stylesheet" href="/PA_Avance-AulaVirtual/global.css">
</head>

<body>
    <header>
        <a href="PrincipalDocente.html">
            <img class="logo" src="/PA_Avance-AulaVirtual/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/PA_Avance-AulaVirtual/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="/PA_Avance-AulaVirtual/Login.html">
                <img src="/PA_Avance-AulaVirtual/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <div class="card__container">
            <div class="options">
                <div></div>
            <a href="EdicionPerfilDocente.html">
                <img src="/PA_Avance-AulaVirtual/assets/settings.png" alt="settings">
            </a>
        </div>
            <div class="profile__info__container">
                <img class="profile__pic" src="/PA_Avance-AulaVirtual/assets/1&1guy.png" alt="profile-picture">
                <div class="list__format">
                    <p class="semibold">Frederick Fitzgerald Fazbearington</p>
                    <p class="semibold icon__tile"><img class="icon" src="/PA_Avance-AulaVirtual/assets/graduation-cap.png" alt="role-icon">Docente</p>
                    <p class="subject icon__tile"><img class="icon" src="/PA_Avance-AulaVirtual/assets/book-and-pencil.png" alt="subject-icon">Historia y Geografía</p>
                </div>
            </div>
            <div class="courses__teaching">
                <p>Historia y Geografía: 6° Básico</p>
                <p>Geografía e Historia: 7° Básico</p>
                <p>Ciencias Sociales: 2° Medio</p>
                <p>Geografía y Ciencias Sociales: 4° Medio</p>
                <p>Ciencias Sociales y Geografía: 3° Medio</p>
                <p>Historia, Geografía, y Ciencias Sociales: 8° Básico</p>
            </div>
        </div>

        <div class="blue__line"></div>
    </div>
</body>

</html>
