<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal Docente</title>
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <header>
        <a href="PrincipalDocente.html">
            <img class="logo" src="/assets/logo.png" alt="school-logo">
        </a>
        <div class="header__container">
            <a href="GestionTextosDocente.html">Biblioteca</a>
            <a href="VistaCursoDocente.html">Revisiones</a>
        </div>
        <div class="user__status">
            <a href="PerfilDocente.html">
                <img src="/assets/1&1guy.png" alt="profile-picture" id="profile-picture">
            </a>
            <a href="/Login.html">
                <img src="/assets/logout.png" alt="log-out" id="log-out">
            </a>
        </div>
    </header>

    <div class="general__container">
        <a href="CreacionCursoDocente.html">
            <img src="/assets/add-element.png" alt="add-course" id="add-course">
        </a>
        <div class="cards__container">
            <div class="cards__firstrow">
                <div class="card">
                    <aside class="management__icons">
                        <a href="GestionAlumnosDocente.html">
                            <img src="/assets/userManagement.png">
                        </a>
                        <a href="GestionCursoDocente.html">
                            <img src="/assets/settings.png">
                        </a>
                    </aside>
                    <a href="VistaCursoDocente.html">
                        <img class="course__picture" src="/assets/course-1.png">
                    </a>
                    <div class="course__text">
                        <p class="course__name">Historia y Geografía</p>
                        <p class="teacher__name">Prof. Frederick Fazbear</p>
                        <p class="academic__level">6° Básico</p>
                    </div>
                </div>
                <div class="card">
                    <aside class="management__icons">
                        <a href="GestionAlumnosDocente.html">
                            <img src="/assets/userManagement.png">
                        </a>
                        <a href="GestionCursoDocente.html">
                            <img src="/assets/settings.png">
                        </a>
                    </aside>
                    <a href="VistaCursoDocente.html">
                        <img class="course__picture" src="assets/course-2.png">
                    </a>
                    <div class="course__text">
                        <p class="course__name">Geografía e Historia</p>
                        <p class="teacher__name">Prof. Frederick Fazbear</p>
                        <p class="academic__level">7° Básico</p>
                    </div>
                </div>
            </div>

            <div class="cards__secondrow">
                <div class="card">
                    <aside class="management__icons">
                        <a href="GestionAlumnosDocente.html">
                            <img src="/assets/userManagement.png">
                        </a>
                        <a href="GestionCursoDocente.html">
                            <img src="/assets/settings.png">
                        </a>
                    </aside>
                    <a href="VistaCursoDocente.html">
                        <img class="course__picture" src="/assets/course-3.png">
                    </a>
                    <div class="course__text">
                        <p class="course__name">Ciencias Sociales</p>
                        <p class="teacher__name">Prof. Frederick Fazbear</p>
                        <p class="academic__level">2° Medio</p>
                    </div>
                </div>
                <div class="card">
                    <aside class="management__icons">
                        <a href="GestionAlumnosDocente.html">
                            <img src="/assets/userManagement.png">
                        </a>
                        <a href="GestionCursoDocente.html">
                            <img src="/assets/settings.png">
                        </a>
                    </aside>
                    <a href="VistaCursoDocente.html">
                        <img class="course__picture" src="/assets/course-4.png">
                    </a>
                    <div class="course__text">
                        <p class="course__name">Geografía y Ciencias Sociales</p>
                        <p class="teacher__name">Prof. Frederick Fazbear</p>
                        <p class="academic__level">4° Medio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue__line"></div>
    </div>
</body>

</html>
