<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Curso Docente</title>
</head>

<body>
    <header>
        <div class="header__container">
            <img src="assets/logo.png" alt="school-logo">
            <a href="views/GestionTextosDocente.html">Biblioteca</a>
            <a href="views/VistaCursoDocente.html">Revisiones</a>

            <div class="user__status">
                <img src="assets/1&1guy.png" alt="profile-picture">
                <img src="assets/logout.png" alt="log-out">
            </div>
        </div>
    </header>

    <div class="general__container">
        <div class="course__container">
            <img src="/assets/return.png" alt="return">
            <img src="/assets/add-element.png" alt="add-element">
            <img src="/assets/settings.png" alt="settings">
            <div class="dates__container">
                <p class="subtitle">Planificación Semestral</p>
                <p><img src="/assets/lightbulb.png">Taller 1: 3 de Septiembre</p>
                <p><img src="/assets/lightbulb.png">Prueba 1: 10 de Septiembre</p>
                <p><img src="/assets/lightbulb.png">Taller 2: 25 de Septiembre</p>
                <p><img src="/assets/lightbulb.png">Prueba 2: 9 de Octubre</p>
                <p><img src="/assets/lightbulb.png">Prueba 3: 12 de Noviembre</p>
            </div>
            <div class="content__container">
                <p class="subtitle">Contenidos del Curso</p>
                <a href="FormularioDocente.html"><img src="/assets/survey.png">Cuestionario Diagnóstico</a>
                <p><img src="/assets/pdf-file.png">Apuntes Materia Clase 1</p>
                <p><img src="/assets/pdf-file.png">Apuntes Materia Clase 2</p>
                <p><img src="/assets/external-link.png">Documento Materia</p>
            </div>
        </div>


        <div class="blue__line"></div>
    </div>
</body>

</html>
