<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Curso Docente</title>
</head>
<body>
    <header>
        <div class="header__container">
            <img src="assets/logo.png" alt="School Logo">
            <a href="views/GestionTextosDocente.html">Biblioteca</a>
            <a href="views/VistaCursoDocente.html">Revisiones</a>

            <section class="user__status">
                <img src="assets/1&1guy.png" alt="Profile Picture">
                <img src="assets/logout.png" alt="Log Out">
            </section>
        </div>
    </header>

    <div class="general__container">

    </div>
</body>
</html>
